:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --page: #f0e5d2;
    --darkpage: #E2C18B;
    --peach:#E4AF8E;
    --darkorange: #BF8176;
    --green: #4F7178;
    --offwhite: #fff8ee;
    --white: white;
    --black: black;
    --black-light: #00000030;
}

@font-face {
    font-family: Pacifico;
    src: url(./fonts/Pacifico-Regular.ttf);
}

h1, h2, h3, h4, h5, p {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

button {
    grid-column: 1 / 2;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    padding: 10px;
    background-color: var(--green);
    margin-top: 15px;
    width: 120px;
    transition-duration: .5s;
}

button:hover {
    background-color: var(--darkorange);
}

label {
    padding: 5px;
    font-weight: 700;
}

input {
    display: flex;
    width: 88%;
    border: none;
    border-bottom: 1px solid var(--darkorange);
    border-radius: 10px;
    padding: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
    accent-color: var(--green);
}

input:focus {
    outline: var(--green) solid 2px;
}

input[type='radio'] {
    font-weight: 400px;
}

hr {
    border: none;
    background-color: var(--black);
    color: var(--black);
    height: 1px;
}

form {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
}

form > div > h2 {
    font-family: Pacifico;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 30px;
    grid-column: 1 / 3;
}

form > div {
    grid-column: 1 / 3;
}

.header {
    font-family: Pacifico;
    letter-spacing: 1.5px;
    padding: 5px;
    padding-left: 15px;
    background-color: var(--offwhite);
    border-bottom: 5px solid var(--green);
    box-shadow: 1px 1px 10px var(--black-light);
}

.inputWrapper {
    background-color: var(--black-light);
    position: fixed;
    z-index: 9;
    height: 100vh;
    width: 100vw;
}

.inputDiv {
    border-radius: 10px;
    background-color: var(--offwhite);
    padding: 20px;
    position: fixed;
    top: 25%;
    left: 35%;
    right: 35%;
    height: 450px;
    width: 250px;
    z-index: 10;
    width: minmax(100px, 300px)
}

.bookGrid {
    display: grid;
    background-color: var(--page);
    height: 100vh;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(50px, 200px));
    grid-template-rows: repeat(auto-fill, minmax(50px, 250px));
    box-sizing: border-box;
    padding: 20px;
}

.card > h4 {
    color: var(--black);
    font-family: Pacifico;
    letter-spacing: 1.5px;
}

.card > h5 {
    color: var(--green);
}

#radio {
    display: flex;
    flex-direction: row;
    font-weight: 400;
}

.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--offwhite);
    border-radius: 10px;
    padding: 15px;
}

.card > h4 {
    grid-column: 1 / 3;
}

.card > h5 {
    grid-column: 1 / 3;
}

.card > p {
    grid-column: 1 / 3;
}

.close, #closeInput {
    display: flex;
    grid-column: 2 / 3;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    align-self: start;
    justify-self: end;
    float: right;
    background-color: var(--black-light);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 30px;
    font-weight: 700;
    color: var(--black);
}

#closeInput {
    margin-top: -10px;
    margin-right: -10px;
    margin-bottom: 15px;
}

.close:hover, #closeInput:hover {
    background-color: var(--darkorange);
    color: white;
}